<h3>Add Server</h3>
<!--
<h3>Create new Server</h3>

<form class="example-form" [formGroup]="newServerForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Name for Server</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-checkbox class="example-margin" formControlName="proxy">Is this a Proxy?</mat-checkbox>
  <mat-checkbox class="example-margin" formControlName="lobby">Is this the lobby?</mat-checkbox>

  <button type="submit" mat-raised-button [disabled]="!newServerForm.valid">send</button>
</form>

<button mat-raised-button (click)="cancel()">cancel</button>
-->
