node_modules
dist
/web/C:/
.idea
/tmp/
*.jar
logs/
world/
world_nether/
world_the_end/
proxy.log*
bundler/
*.gz
/testservers/data/lobby/*
/testservers/velocity/
/.msql_password

dist/
/testservers/data/spoutskyblock/IridiumSkyblock/
/testservers/data/spoutskyblock/IridiumSkyblock_nether/
/testservers/data/spoutskyblock/IridiumSkyblock_the_end/
/testservers/data/spoutskyblock/plugins/
/C:/
/testservers/data/*/modules/
*.tmp
.DS_Store

routes.json
/testservers/data/restcheck/*
!/testservers/data/restcheck/server.properties
/testservers/data
