node_modules
dist
/web/C:/
.idea
/tmp/
*.jar
logs/
world/
world_nether/
world_the_end/
proxy.log*
bundler/
*.gz
/.msql_password
/.db-passwords
/config/infrastructure.yaml
dist/
/C:/

/testservers/data/**/cache/*
/testservers/data/**/versions/*
/testservers/data/**/libraries/*
/testservers/data/**/.cache/*
/testservers/data/**/plugins/**/*
/testservers/data/**/plugins/
/testservers/data/**/crash-reports/*
/testservers/data/**/lang/
/testservers/**
/spoutmc/testservers/**

.var*

*.tmp
.DS_Store
routes.json
/.env
/spoutdb.db

!/testservers/
