<h3>Server</h3>


<div>
  <clr-select-container>
    <label>Reload every</label>
    <select clrSelect name="options" [value]="reload" [(ngModel)]="reload" (change)="setNewInterval()">
      @for (r of reloadTimes; track r) {
        <option [value]="r.value">{{ r.viewValue }}</option>
      }
    </select>
  </clr-select-container>
</div>



@if (loading) {
  <app-loader/>
} @else {
  <clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>State</clr-dg-column>
    <clr-dg-column>Action</clr-dg-column>

    @for (server of dataSource; track server) {
      <clr-dg-row [clrDgItem]="server">
        <clr-dg-cell>{{ server.Config.Hostname }}</clr-dg-cell>
        <clr-dg-cell>{{ server.State.Status }}</clr-dg-cell>
        <clr-dg-cell>

          @if (server.State.Status !== 'running') {
            <button type="button" class="btn btn-icon btn-success" aria-label="startserver"
                    (click)="startContainer(server.Id)">
              <play-outline-icon class="btn-custom-icon"></play-outline-icon>
            </button>
          } @else {
            <button type="button" class="btn btn-icon btn-danger" aria-label="stopserver"
                    (click)="stopContainer(server.Id)">
              <stop-outline-icon class="btn-custom-icon"></stop-outline-icon>
            </button>
          }

          <button type="button" class="btn btn-icon" aria-label="restartserver" (click)="restartContainer(server.Id)">
            <arrow-path-outline-icon class="btn-custom-icon"></arrow-path-outline-icon>
          </button>

          <button type="button" class="btn btn-icon" aria-label="removeserver" (click)="removeContainer(server.Id)">
            <trash-outline-icon class="btn-custom-icon"></trash-outline-icon>
          </button>

        </clr-dg-cell>
      </clr-dg-row>
    }
    <clr-dg-footer>{{ dataSource.length }} servers</clr-dg-footer>
  </clr-datagrid>
}

<button class="btn" (click)="showNewServerWizard()">Add Server</button>


<clr-modal #dialogConfirmation [(clrModalOpen)]="dialogOpen" [clrModalSize]="'sm'">
  <h3 class="modal-title">{{ dialogCommand.title }}</h3>
  <div class="modal-body">
    {{ dialogCommand.body }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="dialogOpen = false">Cancel</button>
    <button type="button" class="btn btn-warning" (click)="dialogOnConfirmation(dialogCommand.callback)">Ok</button>
  </div>
</clr-modal>


<clr-wizard #wizardNewServer
            [(clrWizardOpen)]="mdOpen"
            clrWizardSize="md"
            (clrWizardOnFinish)="newServerWizardFinish()">
  <clr-wizard-title>Create New Server</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>General</ng-template>

    <form clrForm [formGroup]="newServerGeneralForm" clrLayout="vertical">
      <clr-input-container>
        <label>Servername</label>
        <input clrInput placeholder="Skyblock" name="input" formControlName="servername"/>
      </clr-input-container>
      <clr-radio-container>
        <label>Server Type</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="game" name="servertype" formControlName="servertype"/>
          <label>Gameserver</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="proxy" name="servertype" formControlName="servertype"/>
          <label>Proxy</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="lobby" name="servertype" formControlName="servertype"/>
          <label>Lobby</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </form>
  </clr-wizard-page>
</clr-wizard>

