<h3>Server</h3>

<div>
  <clr-select-container>
    <label>Reload every</label>
    <select clrSelect name="options" [value]="reload" [(ngModel)]="reload"
            (change)="setNewInterval()">
      @for (r of reloadTimes; track r) {
        <option [value]="r.value">{{ r.viewValue }}</option>
      }
    </select>
  </clr-select-container>
</div>

@if (loading) {
  <app-loader/>
} @else {
  <clr-datagrid [(clrDgSelected)]="selected">

    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>State</clr-dg-column>
    <clr-dg-column>Action</clr-dg-column>

    @for (server of dataSource; track server) {
      <clr-dg-row [clrDgItem]="server">

        <clr-dg-cell>{{ server.Config.Hostname }}</clr-dg-cell>
        <clr-dg-cell><span
          class="color-square {{ server.State.Status }}"></span>
          {{ server.State.Status }} since {{ server.State.StartedAt | date:'medium' }}
        </clr-dg-cell>
        <clr-dg-cell>

          <clr-button-group class="btn-primary">
            <clr-button class="btn-icon btn-success"
                        (click)="startContainer(server.Id)"
                        [disabled]="server.State.Running">
              <cds-icon shape="play"></cds-icon>
            </clr-button>
            <clr-button class="btn-icon btn-warning"
                        (click)="restartContainer(server.Id)">
              <cds-icon shape="refresh"></cds-icon>
            </clr-button>
            <clr-button class="btn-icon btn-danger"
                        (click)="stopContainer(server.Id)"
                        [disabled]="!server.State.Running">
              <cds-icon shape="stop"></cds-icon>
            </clr-button>
            <clr-button class="btn-icon btn-danger"
                        (click)="resetContainer(server.Id)">
              <cds-icon shape="repeat"></cds-icon>
            </clr-button>
            <clr-button class="btn-icon btn-danger"
                        (click)="removeContainer(server.Id)">
              <cds-icon shape="trash"></cds-icon>
            </clr-button>
            <clr-button class="btn-icon btn-info btn-outline"
                        (click)="serverInfoOpened = true">
              <cds-icon shape="info-standard"></cds-icon>
            </clr-button>
          </clr-button-group>


          <clr-modal [(clrModalOpen)]="serverInfoOpened" clrModalSize="xl" id="{{server.Config.}}">
            <h3 class="modal-title">{{ server.Config.Hostname }}</h3>
            <div class="modal-body">
              <pre>{{ server | json }}</pre>
            </div>
            <div class="modal-footer"></div>
          </clr-modal>

        </clr-dg-cell>
      </clr-dg-row>
    }
    <clr-dg-footer>{{ dataSource.length }} servers</clr-dg-footer>
  </clr-datagrid>
}

<button class="btn" (click)="showNewServerWizard()">Add Server</button>


<clr-modal #dialogConfirmation [(clrModalOpen)]="dialogOpen" [clrModalSize]="'sm'">
  <h3 class="modal-title">{{ dialogCommand.title }}</h3>
  <div class="modal-body">
    {{ dialogCommand.body }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="dialogOpen = false">Cancel</button>
    <button type="button" class="btn btn-warning"
            (click)="dialogOnConfirmation(dialogCommand.callback)">Ok
    </button>
  </div>
</clr-modal>


<clr-wizard #wizardNewServer
            [(clrWizardOpen)]="mdOpen"
            clrWizardSize="md"
            (clrWizardOnFinish)="newServerWizardFinish()">
  <clr-wizard-title>Create New Server</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>General</ng-template>

    <form clrForm [formGroup]="newServerGeneralForm" clrLayout="vertical">
      <clr-input-container>
        <label>Servername</label>
        <input clrInput placeholder="Skyblock" name="input" formControlName="servername"/>
      </clr-input-container>
      <clr-radio-container>
        <label>Server Type</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="game" name="servertype" formControlName="servertype"
                 checked/>
          <label>Gameserver</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="proxy" name="servertype"
                 formControlName="servertype"/>
          <label>Proxy</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio value="lobby" name="servertype"
                 formControlName="servertype"/>
          <label>Lobby</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </form>
  </clr-wizard-page>
</clr-wizard>

