<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <img ngSrc="../assets/tap.png" height=40 width="40" alt="">
        <span class="title">SpoutMC
          <sub class="spout-toolbar-title-version">0.0.1</sub>
        </span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          john.doe&#64;spoutmc.io
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>




  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible">

      <a clrVerticalNavLink routerLinkActive="active" routerLink="/dashboard">
        <building-storefront-outline-icon class="spout-nav-icon spout-vertical-icon"></building-storefront-outline-icon>
        Dashboard
      </a>

      <a clrVerticalNavLink routerLinkActive="active" routerLink="/server">
        <square-3-stack-3-d-outline-icon class="spout-nav-icon spout-vertical-icon"></square-3-stack-3-d-outline-icon>
        Server
      </a>

      <clr-vertical-nav-group
        routerLinkActive="active">
        <user-group-outline-icon class="spout-nav-icon"></user-group-outline-icon>
        Player
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink
             routerLink="/player"
             routerLinkActive="active">
            Playerlist
          </a>
          <a clrVerticalNavLink
             routerLink="/banlist"
             routerLinkActive="active">
            Ban List
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <!--
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        Credit
      </a>
      -->

    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
