.spout-toolbar-title {
  font-family : 'Rethink Sans', "Helvetica Neue", sans-serif;
  font-weight : 500;
}

.spout-toolbar-title-version {
  font-size : .55rem;
}

.spout-nav-icon {
  margin-right : .7rem;
  padding-top  : .55rem
}

.spout-vertical-icon {
  margin-right : .55rem;
  position : relative;
  top      : 7px;
}
